body {
  margin: 0;
  padding: 0;
  height: 100vh;
}


#mycarousel {
  width: 50%;
  margin: 150px auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}


#title {
  text-align: center;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid grey;
  font-family: "Trocchi", serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 48px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-next {
  background-color: #f5f5f5;
  opacity: 10%;
}
.carousel-control-prev {
  background-color: #f5f5f5;
  opacity: 10%;
}
.carousel-control-prev:hover {
  opacity: 35%;
}
.carousel-control-next:hover {
  opacity: 35%;
}

.carousel-item:hover img {
  /* L'image est grossie de 10% */
  -webkit-transform: scale(1.10); /* Safari et Chrome */
  -moz-transform: scale(1.10); /* Firefox */
  transform: scale(1.10);
}
